@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 81, 81);
}